   * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", sans-serif;
      }

      body {
        background-color: #dae0e6;
      }
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 100px;
        padding-left: 20px;
        background-color: white;
        border-bottom: 1px solid #cfd2d5;
      }

      .title {
        font-size: 2rem;
        text-align: center;
        color: rgb(0, 9, 130);
      }

      .Espacio {
        background-color: rgb(255, 255, 255);
        display: block;
        height: 36.5rem;
        width: 97%;
        position: relative;
        left: 1.5%;
        right: 1.5%;
        margin-top: 10px;
        margin-bottom: 8px;

        border: 1px solid #cfd2d5;
      }

      .copy {
        position: relative;
        text-align: center;
      }
